*{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    /* margin: auto; */
}
body{
    margin: auto;
    padding: auto;
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.logo{
    position: relative;
    right: 100px;
}

.main-content{
    margin-top: 80px;

    text-align: center;
}
.items{
    display: flex; 
}
li{
    text-decoration: none;
    list-style: none;
    padding: 20px 10px;
}
li a{
    text-decoration: none;
    list-style: none;
    color: white;


}
span{
    color: goldenrod;

}
.menu{
    display: none;
}
.btn{
    margin-top: 3px ;
    background-color:goldenrod;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    left: 100px;
    outline:none;
    height: 40px;
    /* width: 80px; */
    max-width: 100%;
}
.red{
    text-decoration: underline;
}
.sentence{
    font-weight: lighter;
    color: #cccc;

}
.flex{
    display: flex;
    margin-top: 150px;
    color: white;
    justify-content:space-around;

}
.card{

    display: flex;

    
background: #383e4570;
border-radius: 10px;
}
.card p{
    font-size: 20px;
    padding:20px 15px;
}
.expert{
    font-size: 30px;
    padding: 30px;
}
.myboy{
    max-width: 100%;
}

@media only screen and (max-width:600px){
  .flex{
    flex-direction: column;
    padding: 10px 10px 10px 10px;
  }
  .items{
      display: none;
  }
  .menu{
      display: block;
      background-color: goldenrod;
      width: 40px;
      height: 40px;
      left: 28px;
      position: relative;
  }
  .btn{
      left: -8px;
  }
  .logo{
      right: 40px;
  }
}
